# =========================
# Build outputs
# =========================
bin/
obj/
out/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =========================
# Visual Studio
# =========================
.vs/
.vscode/
*.code-workspace

# =========================
# Rider / JetBrains
# =========================
.idea/
*.sln.iml

# =========================
# OS files# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Test results / coverage
# =========================
TestResults/
coverage/
coverage.*
*.trx

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/
packages/

# =========================
# Publish / artifacts
# =========================
publish/
artifacts/

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# =========================
# Environment / secrets
# =========================
.Environment.env.*

